body {
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: 'Poppins', sans-serif;
	background: #fafafa;
}

/* Set some basic padding to keep content from hitting the edges */
.body-content {
	width: 99vw;
	padding-left: .5vw;
	padding-right: .5vw;
}

#settingsButton {
	border-color: transparent;
	position: relative;
	fill: transparent;
	background: transparent url(./../img/cog.svg) no-repeat left top;
	width: 34px;
	height: 34px;
}


/*Keep content on the left side so it grows towards the right*/
#content {
	padding-top: 3vh;
	float: left;
}

/*Stretch container*/
.container {
	width: 100vw;
}

/*.navbar-fixed-top {
	min-height: 10vh;
	max-height: 65px;
}*/

.navbar-right {
	padding-right: 3vw;
}

.dropdown {
	background-color: rgb(51, 51, 51);
	color: rgb(157, 157, 157);
	transition: all 0.3s;
	width: 24vw;
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}

a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar {
	/* don't forget to add all the previously mentioned styles here too */
	background: #7386D5;
	color: #fff;
	transition: all 0.3s;
	width: 25vw;
	height: 88vh;
}

	#sidebar .sidebar-header {
		padding: 20px;
		background: #6d7fcc;
	}

	#sidebar ul.components {
		padding: 20px 0;
		border-bottom: 1px solid #47748b;
	}

	#sidebar ul p {
		color: #fff;
		padding: 10px;
	}

	#sidebar ul li a {
		padding: 10px;
		font-size: 1.1em;
		display: block;
	}

		#sidebar ul li a:hover {
			color: #7386D5;
			background: #fff;
		}

	#sidebar ul li.active > a, a[aria-expanded="true"] {
		color: #fff;
		background: #6d7fcc;
	}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #6d7fcc;
}
