@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

@* https://bootstrapious.com/p/bootstrap-sidebar *@
<div class="wrapper">
	<nav id="sidebar" class="navbar-left">

		<div class="sidebar-header">
			@Html.DropDownForConfiguration(_settings.Configurations, nameof(Settings.Configurations).ToLower(), _settings.CurrentConfigurationId)
		</div>

		<ul id="fileList" class="list-unstyled components">
			@Html.ListForPathItem(m => m.ConfgurationFileItems)
		</ul>
	</nav>

	<div id="content" class="">
		<textarea id="runnerOutput" class="form-control" readonly></textarea>
	</div>
</div>
